{% extends "base.html" %}

{% block title %}Create{% endblock %}

{% block content %}
    <h1>Создать</h1>

    <form action="{% url "article_create" %}" method="post">
        {% csrf_token %}

        <label>Загаловок:</label><br/>
        <input type="text" name="title"/><br/>

        <label>Текст:</label><br/>
        <textarea name="text"></textarea><br/>

        <label>Подробный текст:</label><br/>
        <textarea name="text_full"></textarea><br/>

        <label>Автор:</label><br/>
        <input type="text" name="author"/><br/>

        <label>Срок:</label><br/>
        <input type="date" name="data"/><br/>

        <label for="id-status">Статус:</label><br/>
        <select name="status" id="id-status">
            {% for value, label in status_choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select><br/>

        <br/>
        <input type="submit" value="Создать"/>
    </form>
{% endblock %}
